@font-face {
  font-family: "Vazir";
  src: url("./vazir-font-v16.1.0/Vazir-Medium.woff") format("woff");
  font-style: normal;
}

* {
  font-family: "Vazir";
}

/* input:focus{ border: none; } */

textarea:focus, input:focus{
  outline: 1px solid #006bcb;
  /* border: 1px solid #006bcb; */
}