* {
  margin: 0;
}
body {
  width: 100%;
  height: 95vh;
}
header {
  height: 56px;
  background-color: #e6eef5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-between;
}
aside {
  display: flex;
}
.right-navbar-menu {
  display: flex;
}
.logo {
  width: 43px;
  height: 43px;
  padding: 5px;
}
.brand-title {
  font-size: 26px;
  line-height: 40.63px;
  font-weight: 400;
  color: #003565;
  padding: 10px 8px;
}
.brand-Area {
  display: flex;
}
.brand-title::after {
  content: "|";
  margin-right: 10px;
  opacity: 20%;
  width: 24px;
  border: 1px 0px 0px 0px;
}
.company-btn {
  width: 105px;
  height: 28px;
  margin: 16px 8px;
  border-radius: 4px;
  background-color: #faf9fb;
  color: #003565;
  border: 1px solid #003565;
  box-shadow: 0px 4px 9.2px 0px #00000054;
  cursor: pointer;
}
.year-btn {
  width: 61px;
  height: 28px;
  margin: 16px 0px;
  border-radius: 4px;
  background-color: #faf9fb;
  color: #003565;
  border: 1px solid #003565;
  box-shadow: 0px 4px 9.2px 0px #00000054;
  cursor: pointer;
}
.Fiscal-year {
  display: flex;
}
.yaer {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  margin: 16px 0px 0px 10px;
  color: #003565;
}
.money-icon {
  width: 18px;
  height: 18px;
  margin: 22px 8px 0px 6px;
}
.left-navbar-menu {
  height: 28px;
  top: 14px;
  left: 16px;
  gap: 16px;
  opacity: 0px;
}
.left-nav-unit {
  display: flex;
}

.left-nav-unit-item {
  list-style-type: none;
  margin: 16px 8px;
}
.nav-unit-item-link {
  cursor: pointer;
}
.nav-unit-icon {
  width: 20px;
  height: 20px;
  padding-left: 10px;
  color: #006bcb;
  border-left: 1px solid rgb(223, 221, 221);
}
.user-unit-icon {
  width: 49px;
  height: 28px;
}
.sidebar-nav {
  width: 52px;
  height: 100vh;
  background-color: #006bcb;
}
.sideNave-list {
  padding: 8px 16px;
}
.sideNav-list-item {
  list-style-type: none;
  margin: 16px 0;
}
.sideNav-icon {
  width: 20px;
  height: 20px;
}
.search-side-icon {
  width: 40px;
  height: 40px;
  position: relative;
  left: 10px;
}
.sidebar-secondary {
  width: 332px;
  height: 100vh;
  background-color: #e6eef5;
  box-shadow: 0px 4px 9.2px 0px #00000054;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.return-icon {
  width: 15px;
  height: 15px;
  color: #006bcb;
}
.return-btn {
  width: 16px;
  height: 16px;
  text-align: center;
  padding: 4px;
  background-color: #e6eef5;
  border: none;

  cursor: pointer;
}
.search-form {
  padding: 10px;
  font-size: 17px;
  justify-content: space-around;
  display: table;
  margin-top: 16px;
  border-bottom: 1px solid #c4d9eb;
}
.search-form:hover {
  content: "";
  clear: both;
}
.search-input {
  width: 85%;
  gap: 0px;
  border-radius: 0px 24px 24px 0px;
  border: 1px solid #006bcb;
  opacity: 0.2px;
  background-color: #e1e8ef;
  box-shadow: 0px 4px 22.1px 0px #00000040 inset;
  height: 24px;
}
.search-input::placeholder {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  text-align: right;
  padding-right: 16px;
}
.search-input:focus {
  border: none;
}
.search-btn {
  background-color: #003565;

  color: white;
  cursor: pointer;
  border: none;

  text-align: center;
  width: 28px;
  height: 28px;

  border-radius: 24px 0px 0px 24px;
}
.search-icon {
  width: 13px;
  height: 13px;
}
.sidebar-subMenu {
  padding: 40px 0px;
}
/*  */

/* Style the sidenav links and the dropdown button */

.dropdown-btn {
  text-decoration: none;
  color: #818181;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
  position: absolute;
  right: 120px;
  top: 2px;
}

/* On mouse-over */

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

/* Add an active class to the active dropdown button */
.active {
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */

.secondary-list-item {
  list-style-type: none;
  position: relative;
  margin-bottom: 16px;
}
.secondary-item-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
}
.dropdown-submenu-item {
  list-style-type: none;
  padding: 0;
}
.dropdown-submenu-link {
  line-height: 25px;
  text-align: right;
  text-decoration: none;
}
